/* Frontpage
----------------------
Verstecke Banner auf der Frontpage
*/
.pagelayout-frontpage .card.front_page {
    display: none;
}


/*
Backlinks
---------
*/

.topic-backlink {
    background-color: #efefef;
    border: 2px solid #eee;
    padding: 5px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    text-align: center;
}

.topic-backlink:hover {
    background-color: #cdcdcd;
    border: 2px solid #eee;
    text-decoration: none;
}

/*
Kurs - Kurs-Blöcke
==================
*/

/* Kurs Filter Buttons */

.courses_filter {
  padding-top: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.courses_filter .btn{
  border: 1px solid #ccc;
}

/* Course-Cards auf Startseite */
.courses.card-columns {
  margin-top: 30px;
}
.courses .coursebox {
  padding: 0px;
  border: 1px solid #aaa;
  background-color: #fafafa !important;
  margin-bottom: 10px;
  border-radius: 2px;
  width: 200px;
  min-height: 120px;
}

.coursebox .content .teachers  {
    width: 100% !important;
    margin-left: 40px;
  }

.coursebox .content .teachers li {
  display: inline;
  padding-right: 8px !important; 
  font-size: 10px;

}

.coursebox.card > .info > h3.coursename {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.coursebox.card > .info > .coursename a {
  background-image: none !important;
  padding-left: 0px !important;

}
.coursebox .content .summary, .coursebox .content .coursecat {
  display: none;
}

.coursebox.card .content .courseimage {
  width: 100% !important;
  margin: 0px !important;
  float:none !important;

}

.coursebox.card .content .courseimage img {
  width: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.coursebox.card .content .teachers {
  display: none;
}

.coursebox.klassenkurs {
    border: 2px solid #2aa !important
}

.coursebox.fachkurs {
    border: 2px solid #69f !important
}

.coursebox.themenkurs {
    border: 2px solid #f82 !important
}

.coursebox.lehrerzimmer {
    border: 2px solid #f05 !important
}

.coursebox.fachschaft {
    border: 2px solid #ffa !important
}

.coursebox.fortbildung {
    border: 2px solid #c2f !important
}

.courses > .paging.paging-morelink {
    border: 1px solid gray;
    background-color: #fafafa;
}



/*
Kurs - Kursansicht
==================
*/


/* Versteckt Meine-Kurse-Block auf Kurs-Seite*/

.path-course .block_course_list.card {
    display: none;
}

/* Section 0 */

#section-0 {
    padding: 10px;
    border: 2px dashed #cacaca;
    border-radius: 10px;
    background-color: #fafafa;
}


/* Fachkurs */

#page-course-view-weeksrev h3.sectionname:before {
    font-family: FontAwesome;
    content: "\f073";
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
    color: #666;
}

#page-course-view-weeksrev .section .content {
    margin-bottom: 20px;
    margin-top: 20px;
}


/*
Single Section
---------------
*/

#sectionmenu {
    display: none;
}


/*
.course-content .single-section .section-navigation .mdl-right,
.course-content .single-section .section-navigation .mdl-left {
    display: none;
}


/*
Aktivitäten
===========
*/

/* Aktivität: Universelles Linkfeld */

.activity.unilabel h3 {
    border: 2px solid #ccc;
    background-color: #ddd;
    margin: 5px;
}

/* Aktivität: Seite */

.modified {
    font-size: 10px;
}

.modified:before {
    font-family: FontAwesome;
    content: "\f073";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}



/* Activity-Navigation */

.section-navigation,
.activity-navigation {
    border-top: 3px #ccc dashed;
    margin-top: 10px;
    padding-top: 10px;
}

.section-navigation a,
.activity-navigation a {
    background-color: #efefef;
    border: 2px solid #eee;
    font-size: 11px;
    text-decoration: none;
    height: 45px;
}

.section-navigation a:hover,
.activity-navigation a:hover {
    background-color: #cdcdcd;
    border: 2px solid #eee;
    text-decoration: none;
}

.section-navigation #jump-to-activity,
.activity-navigation #jump-to-activity {
    visibility: hidden;
}

/* Blocks
=========
*/

/* Ankündigungen */

.block_news_items .post {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 10px !important;
}

.block_news_items .date {
    color: #ccc;
}

.block_news_items .info {
    font-weight: bold;
}


/* 
Unsorted
--------------------
*/

.complete-feedback a {
    padding: 0px 10px;
    -webkit-box-shadow: 2px 2px 9px 2px #444;
    box-shadow: 2px 2px 9px 2px #444;
}

.mform.full-width-labels .fitem.row {
    border: solid #ddd 1px;
    padding: 10px;
    background-color: #eee;
}

td.cws-menu {
    color: #fff;
    background-color: #009bb1;
    padding: 10px;
}

.complete-feedback a {
    padding: 0px 10px;
    -webkit-box-shadow: 2px 2px 9px 2px #444;
    box-shadow: 2px 2px 9px 2px #444;
}

.mform.full-width-labels .fitem.row {
    border: solid #ddd 1px;
    padding: 10px;
    background-color: #eee;
}

td.cws-menu {
    color: #fff;
    background-color: #009bb1;
    padding: 10px;
    border: 1px solid #e5f2f4;
    text-align: center;
}

td.cws-menu:hover {
    color: #fff;
    background-color: #007889;
}

a.cws-menu {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}

a.cws-menu:hover {
    color: white;
    text-decoration: none;
}

#nav-drawer .list-group-item[data-type="20"] {
    display: None;
}

#nav-drawer .list-group-item[data-key="mycourses"] {
    display: None;
}

td.cws-menu:hover {
    color: #fff;
    background-color: #007889;
}

a.cws-menu {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
}

a.cws-menu:hover {
    color: white;
    text-decoration: none;
}

#nav-drawer .list-group-item[data-type="20"] {
    display: None;
}

#nav-drawer .list-group-item[data-key="mycourses"] {
    display: None;
}